.home-banner-bg {
  background: url("https://shtheme.org/demosd/roofline/wp-content/uploads/2021/06/03.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
}
.mt-50 {
  margin-top: 50px;
}
.hero-02-text {
  position: relative;
}
.hero-02-text::before {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 318px;
  width: 318px;
  line-height: 318px;
  text-align: center;
  border-radius: 50%;
  z-index: -1;
  left: -150px;
  top: -120px;
}
.hero-slider-caption span {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.hero-slider-caption span i {
  font-size: 22px;
  margin-right: 15px;
}
.flaticon-support:before {
  content: "ï„";
}
.slider-02-button a {
  margin-right: 8px;
}
.hero-slider-caption span {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.hero-02-text span {
  color: #f15743;
}
.hero-text span {
  color: #f15743;
}
.hero-text h2 {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 22px;
}
.hero-slider-caption h2 {
  font-size: 110px;
  margin-bottom: 8px;
  margin-top: 18px;
  color: #000;
  line-height: 1;
}
.hero-slider-caption p {
  line-height: 25px;
  color: #ffffff;
  padding-left: 25px;
  margin-bottom: 0;
  margin-right: 30px;
  position: relative;
}
.hero-text p {
  margin-right: 130px;
}
.hero-slider-caption p::before {
  position: absolute;
  height: 42px;
  width: 3px;
  content: "";
  background: #f15743;
  left: 0;
  top: 6px;
}
.HomeWeDo {
  background: url("https://shtheme.org/demosd/roofline/wp-content/uploads/2021/07/02-1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  /* height: 750px; */
}
/* Projects */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 3px;
  /* grid-auto-flow: dense; */
}
.img-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
.vertical {
  grid-row: auto / span 2;
}
.horizontal {
  grid-column: auto / span 1;
}
.process-bg-img {
  background-size: cover;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 40%;
  background-position: center center;
}
.pos-rel {
  position: relative;
}
.process-bg-img {
  background: url("https://shtheme.org/demosd/roofline/wp-content/uploads/2021/06/03-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.process-bg-02 {
  padding-top: 125px;
}
.section-title h1 {
  position: absolute;
  z-index: 1;
  font-size: 80px;
  line-height: 1;
  opacity: 0.09;
  top: -30px;
  left: 0;
  margin-bottom: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  text-transform: capitalize;
  right: 0;
}
.section-title > span {
  color: #f15743;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.section-title h2 {
  font-size: 48px;
  margin-top: 24px;
  line-height: 1.2;
}
.process-wrapper {
  background: #ffffff;
  padding: 0 30px 45px;
  position: relative;
}
.mb-100 {
  margin-bottom: 100px;
}
.p-content {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.p-content h2 {
  font-size: 180px;
  line-height: 1;
  color: #888888;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  text-transform: capitalize;
  opacity: 0.1;
}
.process-icon {
  position: relative;
}
.process-icon i {
  background: linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -moz-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -webkit-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -ms-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 70px;
  display: inline-block;
  color: #ffffff;
  border-radius: 50%;
  margin-top: -70px;
}
.process-list li {
  font-size: 15px;
  color: #888888;
  padding-bottom: 9px;
  padding-left: 26px;
  position: relative;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}
.process-list li::before {
  position: absolute;
  left: 0;
  content: "\f00c";
  font-family: fontAwesome;
  top: 1px;
  color: #f15743;
  font-weight: 400;
}
.process-text {
  margin-top: 32px;
}
.process-text h4 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.process-text p {
  margin-bottom: 0;
}
.mb-80 {
  margin-bottom: 80px;
}
.services-img {
  overflow: hidden;
  position: relative;
}
.services-text {
  border: none;
}
.services-text h4 {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px;
}
.services-text p {
  margin-bottom: 30px;
}
.services-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}
.services-icon > a:hover {
  background: linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background-image: -moz-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background-image: -webkit-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background-image: -ms-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  border-color: #f15743;
}
.services-icon > a {
  font-size: 18px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #a98c8b;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s;
}
.about-title {
  overflow: hidden;
}
.about-info {
  margin-right: 23px;
}
.about-02-img {
  margin-right: 30px;
}
.about-info h2 {
  color: #f15743;
  font-size: 85px;
  line-height: 0.8;
  margin-bottom: 0;
}
.about-img {
  margin-left: -40px;
  margin-right: 60px;
  position: relative;
}
.abouts-icon i {
  font-size: 24px;
  color: #ffffff;
}
.abouts-text h2 {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 4px;
}
.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.abouts-text {
  position: absolute;
  bottom: -24px;
  padding: 38px 40px 108px 68px;
  background: linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -moz-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -webkit-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -ms-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  right: -1px;
}
.about-item {
  margin-top: 38px;
  overflow: hidden;
}
.about-item ul li {
  padding-bottom: 15px;
  width: 50%;
  float: left;
}
.about-item-text span {
  font-size: 18px;
  color: #616161;
  font-weight: 500;
  position: relative;
  margin-left: 32px;
  display: inline-block;
}
.about-item-text span::before {
  position: absolute;
  left: -32px;
  content: "\f058";
  font-family: fontAwesome;
  /* font-family: "Font Awesome 5"; */
  top: -1px;
  color: #f15743;
  font-size: 20px;
}

/* What We Do */
.choose-img img {
  max-width: inherit;
  margin-left: -124px;
}
.choose-info {
  margin-bottom: 50px;
  background: #ffffff;
  padding: 22px 40px;
  border-left: 5px solid #f15743;
}
.choose-info p {
  margin-bottom: 0;
}
.choose-icon {
  margin-right: 40px;
  position: relative;
}
.choose-item ul li:hover .choose-icon > i {
  background: linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -moz-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -webkit-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background: -ms-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
}
.choose-icon .choose-tag {
  position: absolute;
  position: absolute;
  top: -13px;
  right: -15px;
}
.choose-icon .choose-tag > i {
  height: 30px;
  width: 30px;
  line-height: 24px;
  background: #f15743;
  color: #ffffff;
  font-size: 12px;
  border: 3px solid #ffffff;
  text-align: center;
  border-radius: 50%;
}
.choose-text h4 {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 12px;
}
.choose-item ul li {
  padding-bottom: 30px;
  list-style: none;
}
.choose-item-02 .choose-icon > i {
  padding-left: 5px;
}
.choose-icon > i {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: #1e1e2a;
  display: inline-block;
  color: #ffffff;
  border-radius: 5px;
  font-size: 35px;
  transition: 0.3s;
}

ul li {
  list-style: none;
}
/* Team */
.team-text {
  margin-top: -52px;
  transition: 0.3s;
}
.team-wrapper:hover .team-icon {
  margin-top: -32px;
}
.team-icon {
  background: #feeeec;
  padding: 8px 10px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.mb-60 {
  margin-bottom: 60px;
}
.team-icon a {
  height: 36px;
  width: 36px;
  height: 36px;
  background: #ffffff;
  line-height: 36px;
  color: #6a6a6a;
  display: inline-block;
  font-size: 13px;
  border-radius: 50%;
  margin: 0 2px;
  transition: 0.3s;
}
.team-text h4 {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 9px;
  margin-top: 22px;
}
.team-text span {
  font-size: 15px;
  color: #f15743;
  font-weight: 700;
  text-transform: uppercase;
}
.pt-130 {
  padding-top: 130px;
}
.mt-30 {
  margin-top: 30px;
}
.services-img > a {
  position: relative;
  display: block;
}
.services-img > a::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(
    90deg,
    #030316 0%,
    rgba(12, 12, 28, 0.5) 32%,
    rgba(30, 30, 42, 0.01) 99%,
    #1e1e2a 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #030316 0%,
    rgba(12, 12, 28, 0.5) 32%,
    rgba(30, 30, 42, 0.01) 99%,
    #1e1e2a 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    #030316 0%,
    rgba(12, 12, 28, 0.5) 32%,
    rgba(30, 30, 42, 0.01) 99%,
    #1e1e2a 100%
  );
  background: -ms-linear-gradient(
    90deg,
    #030316 0%,
    rgba(12, 12, 28, 0.5) 32%,
    rgba(30, 30, 42, 0.01) 99%,
    #1e1e2a 100%
  );
  opacity: 0.7;
  transition: 0.3s;
  z-index: 1;
}
.services-img > a img {
  width: 100%;
  transition: 0.3s;
}
.services-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}
.services-icon > a {
  font-size: 18px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #a98c8b;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s;
}
.fa-angle-double-right:before {
  content: "\f101";
}
.services-wrapper .services-text.text-center {
  text-align: left !important;
}
.services-text {
  padding: 0px 40px;
}
.services-text h4 {
  margin-top: 20px;
  /* padding: 0px 20px; */
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px;
}
.services-text p {
  margin-bottom: 30px;
}
.ser-icon i {
  color: #f15743;
  font-size: 48px;
  line-height: 1;
}
.services-wrapper .services-img a img {
  height: 400px;
}
.services-wrapper:hover .services-img a img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.services-wrapper {
  overflow: hidden;
  padding: 0px 0px 20px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.services-wrapper:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.shape-item {
  position: absolute;
  z-index: -1;
}
.ab-01 {
  bottom: 9%;
  left: 17%;
}
.ab-02 {
  top: -5%;
  right: 16%;
}
@media only screen and (min-width: 300px) and (max-width: 991px) {
  .process-bg-img {
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
  }
  .hero-slider-caption h2 {
    font-size: 40px;
    margin-bottom: 8px;
    margin-top: 18px;
    color: #000;
    line-height: 1;
  }
  .home-banner-bg {
    background: url("https://shtheme.org/demosd/roofline/wp-content/uploads/2021/06/03.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
  }
  .slider-02-button a {
    margin-right: 8px;
    margin-bottom: 10px;
  }
}
