.text_orange {
  color: #d95543;
}
.c-btn {
  backface-visibility: hidden;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 24px 33px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  background: linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background-image: -moz-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background-image: -webkit-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  background-image: -ms-linear-gradient(-28deg, #f15245 0%, #ea3648 99%);
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 5px;
  text-decoration: none;
}
.c-btn:hover {
  color: #ffffff;
}
.c-btn span {
  height: 2px;
  width: 15px;
  background: #ffffff;
  display: inline-block;
  position: relative;
  top: -3px;
  margin: 0 7px;
  transition: 0.3s;
}
.mt-35 {
  margin-top: 35px;
}
.mt-130 {
  margin-top: 130px;
}
.f-left {
  float: left;
}
.mt-20 {
  margin-top: 20px;
}
.pt-150 {
  padding-top: 150px;
}
.pd-115 {
  padding-bottom: 115px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.pt-120 {
  padding-top: 120px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pb-65 {
  padding-bottom: 65px;
}
a {
  text-decoration: none;
}
.grey-bg {
  background: #f3f1f2;
}
.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
